/*star global roulse*/
*{
      box-sizing: border-box;
}
body{
      font-family:"work sans",sans-serif;
}
:root{
      --main-color:#10cab7
}
/*start cmpnant*/
.special-heading{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;

}
.special-heading + p{
    margin: -30px 0 0;
    text-align: center;
    color: #79797977;
    font-size: 20px;
}
@media(max-width:767px){
      .special-heading{
            font-size: 60px;
      }
      .special-heading + p{
            margin: -20;
      }
}
/*end cmpnant*/
/*end global rouls*/
.contienr{
      padding-left: 15px ;
      padding-right: 15px ;
      margin-left: auto;
      margin-right: auto;
}
/*small screen*/
@media (min-width:768px) {
.contienr{
      width: 750px;
      }
}
/*midiam screen*/
@media (min-width:992px) {
      .contienr{
            width: 970px;
      }
}
/*large screen*/
@media (min-width:1200px) {
      .contienr{
            width: 1170px;
      }
}
/*start header*/
.header .contienr{
      display: flex;
      justify-content: space-between;
      align-items: center;

}
.header .logo{
      width: 60px;
}
.header .fasfa-list-ul{
      position: relative;
}
.header .links ul{
      list-style: none;
      margin: 0;
      padding: 0;
      background-color: #f6f6f6;
      position: absolute;
      right: 6%;
      min-width: 200px;
      display: none;
      top: 5%;
      z-index: 1;
}
.header .links:hover ul{
      display: block;
}
.header .links ul::before{
      content: "";
    right: 5px;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;;
    position: absolute;
    top: -10px
}
.header .links ul li a{
    display:block ;
    padding: 10px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
    

}
.header .links ul li a:hover{
    padding-left:15px ;
}
.header .links ul li:not(:last-child) a{
      border-bottom: 1px solid #ddd;
}
/*end header*/
/*srart landing */
.landing{
      background-image: url(../images/intro.jpg);
      background-size: cover;
      height:  calc(100vh - 60px);
      position: relative;


}
.landing .intro-text{
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 320px;
      max-width: 100%;

}
.landing .intro-text h1{
      margin: 0;
      font-weight: bold;
      font-size: 50px;
      color: var(--main-color);
}
.landing .intro-text p{
      font-size: 19px;
      line-height: 1.8;
}
/*end landing */
/*srart featuers */
.features{
      padding-top: 60px;
      padding-bottom: 60px;
      background-color: #f6f6f6;
}
.features .continer{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(365px,1fr));
      grid-gap: 100px
}
.features .feat{
      padding: 20px;
      text-align: center;
}
.features .feat i{
      color: var(--main-color);
      font-size: 50px;
}
.features .feat h3{
      font-weight: 800;
      margin: 20px 0;
}
.features .feat p{
      line-height: 1.8;
      color: #777;
      font-size: 17px;
}
/*end featuers */
/* start servces*/
.services .sevice-cont{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(365px,1fr));
      grid-gap: 30px;
      margin-top: 100px;
      


}
.services .sevice-cont .serv{
    display: flex ;
    margin-bottom:40px;   
}
.services .sevice-cont .image img{
 max-width: 365px;
 
}

@media(max-width:767px){
      .services .sevice-cont .col{
            flex-direction: column;
            text-align: center;
      }
}
.services .sevice-cont  .serv i{
      color: var(--main-color);
      flex-basis: 40px;
}
.services .sevice-cont  .serv .text{
      flex:1;
      
}
.services .sevice-cont  .serv .text h3{

      margin: 0px 0px 20px;
      
}
.services .sevice-cont  .serv .text p{
      color: #444;
      font-weight: 300;
      line-height: 1.6;
      
}



/* end servces*/
/*start portoflio*/
.portfolio{
padding-top: 60px;
padding-bottom: 60px;
background-color: #f6f6f6;
}
.portfolio .portfolio-cont{
      display: grid;
      grid-template-columns: repeat(auto-fill,minmax(365px,1fr));
      grid-gap: 30px;
      margin-top: 100px;
}
.portfolio .portfolio-cont .card{
      background-color: white;
}
.portfolio .portfolio-cont .card img{
      max-width: 100%;
}
.portfolio .portfolio-cont .card .info{
      padding: 20px;

}
.portfolio .portfolio-cont .card .info h3{
      margin: 0;
}
.portfolio .portfolio-cont .card .info p{
      color: #777;
      line-height: 1.6;
      margin-bottom: 0;

}


/*end portoflio*/


