/*star global roulse*/
*{
      box-sizing: border-box;
}
body{
      font-family:"work sans",sans-serif;
}
/*end global rouls*/
.contienr{
      padding-left: 15px ;
      padding-right: 15px ;
      margin-left: auto;
      margin-right: auto;
}
/*small screen*/
@media (min-width:768px) {
.contienr{
      width: 750px;
      }
}
/*midiam screen*/
@media (min-width:992px) {
      .contienr{
            width: 970px;
      }
}
/*large screen*/
@media (min-width:1200px) {
      .contienr{
            width: 1170px;
      }
}
.header .contienr{
      display: flex;
      justify-content: space-between;
      align-items: center;

}
.header .logo{
      width: 60px;
}